h1{
    font-size: 2rem;
    margin-top: 20px;
    color: rgb(142, 122, 12);
}
p{
    font-size: 1.3rem;
    font-family: 'Source Code Pro',monospace;
}
span{
    font-weight: bold;
}
.outerContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

img{
    width: 50%;
    height: 50vh;
    border-radius: 5PX;
}

@media (max-width:480px){
    .outerContainer{
        flex-direction: column;
    }
    h1{
        font-size:1.1rem;
    }
    p{
        font-size: 1rem;
    }
}