.heading{
    color: black;
    text-align: center;
}
.contact{
   display: flex;
   justify-content: center;
   align-items: center;
   height:100vh;
}
form{
    background-color: #f9f9f9;
    padding:20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: -150px;
}
.contact h1{
    text-align: center;
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
label{
    font-size:1.2rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
}
.contact button{
    width: 100%;
    padding: 12px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact button:hover {
    background-color: #4cae4c;
  }
  