* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  scroll-behavior: smooth;
}

.imageContainer{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
    padding-top: 5rem;
}
.text{
   position:relative;
   top:0px;
   z-index: 1;
}

img{
    width: 50%;
    height:auto;
}
.para1{
    font-size:3rem;
    color: #2b1286;
    margin: 10px 0; 
}
.para2{
    font-size:3rem;
    color: #094575;
    margin: 10px 0; 
}
.para3{
    font-size:3rem;
    color:rgba(13, 13, 171, 0.436);
    margin: 10px 0; 
}
.lor{
font-size:1.5rem;
}
button{
    font-size: 2rem;
    background-color:rgba(1, 1, 213, 0.553);
    color: #fff;
    border-radius:8px;
    border: none;
    padding: 10px;
}
 
button:hover{
    background-color: #3a2977;
}

@media (max-width:480px){

  .imageContainer{
    flex-direction: column;
    height: auto;
  }
     .text {
        max-width: 100%; /* Make text take full width on mobile */
        margin-bottom: 20px;
      }
    
    .para1, .para2, .para3 {
        font-size: 2rem; /* Reduce text size for smaller screens */
      }

      .lor {
        font-size: 1.2rem; /* Adjust description text size */
      }

      button{
       width:100%;
       padding: 15px;
       border-radius: 5px;
       font-size: 1.2rem;
    } 
   
    img {
      width: 100%; /* Ensure image is responsive */
      margin-top: 10px; /* Add a little margin above the image */
      margin-bottom: 0; /* Remove bottom margin */
    }
  
  }